html { 
  font-size: 14px;
}

body {
  font-family: ‘Times New Roman’, Times, serif;
}

li {
  padding: 0.25rem 0;
}

/* zero margin around pre blocks (looks more like R console output) */
pre {
  margin-top: 0;
  margin-bottom: 0;
}
